---

const {href} = Astro.props;
---


<a href={href}><b><slot/></b></a>

<style>
    a{
        display:inline-block;
        /* width: min-content; */
        /* border: 3px solid #444; */
        color: white;
        border-radius: 3px;
        text-decoration: none;
        padding: 1em;
        background-color:var(--case-red);
    }

    a:visited{
        color: white;
    }
</style>
