<h1>
    <slot/>
</h1>

<style>
    h1{
        font-size: 3.5em;
        margin-top: 0;
        /* width: max-content; */
        /* border-bottom: 5px solid var(--dark-grey); */
        /* padding-bottom: -4px; */
        /* margin-bottom: 0.5em; */
    }
</style>
