---
import Base from "/src/components/base.astro";
import TextColumn from "/src/components/textcolumn.astro";
import PaddedColumn from "/src/components/paddedcolumn.astro";
import Title from "@comp/title.astro";
import Centered from "@comp/centered.astro";
import PageTitle from "/src/components/pagetitle.astro";
import Centered from "@comp/centered.astro";
---
<Base title="Build Nights">
<PageTitle imageurl="stockphotos/esp8266.jpg" title="Build Nights"></PageTitle>
<PaddedColumn>
<Centered text_align="left">

<TextColumn>
<p>Most Thursday evenings there are build nights at the Lab, hosted by the Association. Drop by with a project, or just hang around for inspiration! It's also when you usually <a href="/join">become a member.</a></p>

<p>Notable exceptions are:</p>
<ul>
    <li>Pub crawls</li>
    <li>Holidays</li>
    <li>Exams</li>
</ul>

</TextColumn>
</Centered>
</PaddedColumn>
</Base>
